html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f4f4;
}

.text--black {
  color: #242424;
}

.text--grey {
  color: #78787a;
}

.text--green {
  color: #04bf94;
}

.text--light-grey {
  color: #adb8c8;
}

.line {
  border-top: 1px solid #c4c4c4;
  padding-top: 16px;
}

.upper {
  text-transform: uppercase;
}

.container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  border-radius: 8px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  display: inline-block;
  color: inherit;
}

.btn--primary {
  background-color: #04bf94;
  color: #ffffff;
  padding: 8px 32px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1),
    0px 0.4px 6.5px rgba(0, 0, 0, 0.05);
}

.navbar--mb {
  display: none;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.navbar-user {
  display: flex;
  gap: 12px;
  color: #c5d1db;
}

.navbar-list {
  display: flex;
  gap: 24px 40px;
  font-weight: 500;
  line-height: 24px;
}

.navbar-link {
  text-decoration: none;
  color: #262626;
}

.burger-line {
  background-color: red;
  border-radius: 1px;
  height: 2px;
  width: 16px;
}

.breadcrumps {
  display: flex;
  margin: 24px 0 24px;
  color: #91a0b6;
}

.breadcrumps-link {
  font-weight: 500;
  text-decoration: none;
  line-height: 24px;
  color: #91a0b6;
}

.fa-angle-right {
  color: #d8e1ed;
  margin: 0 16px 0 17px;
}

.post-list {
  display: grid;
  margin: 0 auto;
}

.post-list--lg {
  grid-template-columns: 1fr;
}

.post-list--md {
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.post-list--sm {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 57px 0;
}

.post-list--lg .post-item {
  display: flex;
}

.post-image-wrapper {
  flex: 1;
}

.post-image {
  border-radius: 12px;
  width: 100%;
}

.post-item {
  gap: 32px;
}

.post-content {
  flex: 1;
}

.banner {
  background-color: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.banner-content {
  flex: 1;
}

.banner--md .banner-content {
  padding: 56px;
}

.banner--sm .banner-content {
  padding: 24px;
}

.banner-form {
  max-width: 522px;
}

.banner-heading {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
}

.banner-subheading {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 8px 0 16px 0;
}

.banner-image-wrapper {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: 0;
  z-index: -1;
}

.banner-image {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

.banner-info {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.banner-subhead {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.banner--sm .banner-subhead {
  margin: 8px 0 24px;
}

.banner--sm .banner-info {
  margin: 24px 0 8px;
}

.typography {
  display: flex;
  flex-direction: column;
}

.typography--h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.typography--h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #91a0b6;
  margin: 73px 0 16px;
}

.typography--h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.typography--body2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 16px 0;
}

.input {
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  align-items: center;
}

.input-value {
  background-color: transparent;
  border: none;
  font-family: inherit;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.budget-wrapper {
  padding: 48px 0 16px 0;
}

.budget {
  clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  display: inline-block;
  padding: 8px 27px 8px 20px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.budget--orange {
  background-color: #ed685c;
  color: #fff;
}

.link {
  font-size: 14px;
  color: #91a0b6;
  display: flex;
  text-decoration: none;
}

.copyright {
  color: #91a0b6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  margin: 100px 0 80px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 25px;
}

.footer-list .footer-item:not(:last-child) {
  border-right: 1px solid #a9b6c8;
  padding-right: 25px;
}

.footer-link {
  text-decoration: none;
  color: #91a0b6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1100px) {
  .navbar--mb {
    display: block;
  }
  .navbar--desktop {
    display: none;
  }
  .navbar-list {
    display: none;
  }
  .fa-angle-left {
    gap: 8px;
  }
  .typography--h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .post-list--lg {
    grid-template-columns: 1fr;
  }
  .post-list--md {
    grid-template-columns: 1fr;
  }
  .post-list--sm {
    grid-template-columns: 1fr;
  }
  .post-list--lg .post-item {
    flex-direction: column;
  }
  .banner-heading {
    font-size: 24px;
    line-height: 36px;
  }
  .banner--md .banner-content {
    padding: 16px;
  }

  .banner-image-wrapper {
    display: none;
  }
  .banner-content .btn--primary {
    width: 100%;
  }
  .banner--sm .banner-info {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
  }
  .banner--sm .banner-subhead {
    font-size: 18px;
    line-height: 27px;
  }
  .footer {
    margin: 80px 0 16px;
  }
  .footer-inner {
    flex-direction: column;
    text-align: center;
  }
  .footer-list {
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
  }
  .footer-list .footer-item:not(:last-child) {
    border: none;
    padding: 0;
  }
}
